# Build artifacts
engine/target/

# Node/Angular
app/node_modules/
app/.angular/
app/dist/

# Tauri
app/src-tauri/target/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Python (caso volte a usar scripts)
__pycache__/
venv/
.venv/
